html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #ff6b51;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.phone {
    border: 3px solid #191a30;
    background-color: #282032;
    width: 424px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 999px){
    .phone {
        width: 600px;
    }
}
@media only screen and (max-width: 600px){
    .phone {
        margin-top: 10px;
        width: 500px;
    }
}
.calculator-box {
    padding-top: 20px;
    padding-right: 10px;
    text-align: right;
}
.calculator-history {
    display: block;
    font-weight: bold;
    color: #873a40;
    font-size: 20px;
    margin-bottom: 10px;
}
.calculator-result {
    font-size: 40px;
    color: #fbfbfb;
    display: block;
    margin-bottom: 25px;
}
.calculator-buttons {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    border:0;
}
.calculator-button {
    transition: background 0.8s;
    font-size: 30px;
    /*border: 1px solid #362f3f;*/
    border: 1px solid #282231;
    padding: 35px 0.3em 0.3em 0.3em;
    text-align: center;
    height: 50px;
    color: #f8f8f8;
    display: inline-block;
}
.calculator-button:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.cb-t1 {
    background-color: #2e2837;
}
.cb-t2 {
    background-color: #362e3e;
}
.cb-t3 {
    background-color: #484251;
}
.cb-t4 {
    background-color: #ff5e51;
    grid-column: 1 / span 4;
}
.grid-3 {
    grid-column: 1 / span 3;
}